.checkstyle
.classpath
.checkstyle
.externalToolBuilders/
.project
.settings/
.idea/
artifacts/
src/main/webapp/WEB-INF/classes/
src/main/webapp/WEB-INF/lib/
target/
crowsnest.iml
nb-configuration.xml
profiles.xml
*.pyc
*.iml
revision/*.jar
revision/*.war
revision.zip
